<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>  
    <table>
        {% for i in range(4)%}
            <tr>
                {% for i in range(4) %}
                    <td class="reds"></td>
                    <td class="blacks"></td>
                {% endfor %}
            </tr>

            <tr>
                {% for i in range(4) %}
                    <td class="blacks"></td>
                    <td class="reds"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>    
    
</body>
</html>