<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div id='wrapper'>
        <h1>Welcome to the Great Number Game!</h1>
        <h2>Guess the Magic Number!</h2>
        <form action="/answer" method="POST">
            {% csrf_token %}
            <div class='main'><input type="number"  name="number" id=""></div>
            <button type='submit'>submit</button>
        </form>
        <h2>{{ message }}</h2>
        
        
    </div>
    
</body>
</html>