* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper{
    height:400px;
    width: 425px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-content: center; */
    border: solid 1px transparent;
}

.row{
    min-height:400px;
    width: 425px;

}


.reds{
    height: 50px;
    width: 50px;
    background-color: red;
}

.blacks{
    height: 50px;
    width: 50px;
    background-color: black;
}
    